<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> COIN FLIP GAME! </title>
  <link rel="stylesheet" href="normalize.css"> 
  <link rel="stylesheet" href="style.css"> 
</head>
<body>
  
	<h1>COIN FLIP GAME!</h1>
    
    <button id="heads" value="heads" type="button" name="button">Heads</button>

    <button id="tails" value="tails" type="button" name="button">Tails</button>

    <p id="result">

      <% if(coinflip.length > 0) {%>
        <h1>
          Result: 
          <%= coinflip[coinflip.length-1].result %>
          <br>
          It was 
          <%= coinflip[coinflip.length-1].randomToss %>
        </h1>
        <% } %>
      
      <% for(var i=0; i<coinflip.length; i++) {%>
        <span>
          <%= coinflip[i].result %>
        </span>

        <button id="deletebtn" data-id="<%= coinflip[i].id %>">Delete</button>  
        <br>      
      <% } %>
        
    </p>

    
    

<script src="main.js"></script>
</body>
</html>
